<div class="offcanvas offcanvas-start"
     data-bs-backdrop="static"
     tabindex="-1"
     id="staticBackdrop"
     aria-labelledby="staticBackdropLabel"
     data-controller="off-canvas">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="staticBackdropLabel"><%= title %></h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <%= content %>
    </div>
  </div>
</div>
