<turbo-frame id="toast">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-controller="toast">
    <div class="toast-header <%= class_name %>">
      <strong class="me-auto">Todo</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body border-0">
      <%= message %>
    </div>
  </div>
</turbo-frame>

